.aboutSection {
  background-color: #fafafa;
  padding-bottom: 130px;
}

.aboutSubSection {
  padding-top: 100px;
}

.aboutHeading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* font-family: Comic Sans MS, Comic Sans, cursive; */
}

.aboutSubHeading {
  padding-top: 27px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  width: 40%;
  /* border: 1px solid #000; */
  margin: auto;
  line-height: 200%;
}

.inlineBtn {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
}

.inlineBtn:hover {
  background-color: black !important;
}

@media only screen and (max-width: 768px) {
  .aboutSubHeading {
    font-size: 0.5px;
  }
}

.skillClass {
  border-radius: 5px;
}
